body, html {
	height: 100%;
	position: relative;
}

body {
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	opacity: 0;
	margin: 0;
}

body.loading {
	background-image: url('http://www.bethanysaginaw.com/home/180008356/180008356/Images/creation_for_kids.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: initial;
}

body.active {
	opacity: 1;
}

#wrapper {
	background-position: center center;
	background-size: cover;
	position: relative;
	height: 100%;
}

.location {
	position: absolute;
	color: white;
	left: 20px;
	top: 20px;
}

.time {
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	text-align: center;
	font-size: 54px;
	color: white;
	width: 100%;
	top: 50%;
}